.hover-button {
    background-color: #212c5f;   /* Default background color */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.hover-button:hover {
    background-color: #212c5f; /* Change color on hover */
    color: #ffb822;
}

.blank-button {
    background-color: white;   /* Default background color */
    color: #212c5f;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.blank-button:hover {
    background-color: rgb(240, 240, 240);
}

.user-button {
    background-color: rgba(255, 184, 34, 0.15);   /* Default background color */
    color: #ffb822;
    border: none;
    border-radius: .25rem;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.user-button:hover {
    background-color: #212c5f;
    color: white
}

.yellow-button {
    background-color: rgba(255, 184, 34, 0.15);   /* Default background color */
    color: #ffb822;
    border: none;
    border-radius: .25rem;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.yellow-button:hover {
    background-color: #ffb822;
    color: black
}

.petunjuk-button {
    background-color: #ffb822;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.petunjuk-button:hover {
    background-color: #f8aa00;
    color: white
}

.ebupot-unifikasi-refresh-button {
    background-color: #ffb822;
    color: white;
    border: none;
    border-radius: .9rem;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.ebupot-unifikasi-refresh-button:hover {
    background-color: #f8aa00;
    color: white
}

.cari-pralapor-button {
    background-color: #1dc9b7;
    color: white;
    border: none;
    border-radius: .25rem;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.cari-pralapor-button:hover {
    background-color: #1eb3a4;
    color: white
}

.menu-profil-text {
    color: #646c9a;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
  
.menu-profil-text:hover {
    color: blue
}

.menu-data-profil-text-active {
    color: #ffb822;
    border-bottom: 1px solid #ffb822;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-profil-text {
    color: #646c9a;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}
  
.menu-data-profil-text:hover {
    color: #ffb822;
    border-bottom: 1px solid #ffb822;
}

.menu-data-bayar-text-active {
    color: #212c5f;
    border-bottom: 1px solid #212c5f;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-bayar-text {
    color: #646c9a;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-bayar-text:hover {
    color: #212c5f;
    border-bottom: 1px solid #212c5f;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-pralapor-text-active {
    color: #ffb822;
    border-bottom: 1px solid #ffb822;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-pralapor-text {
    color: #646c9a;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}

.menu-data-pralapor-text:hover {
    color: #ffb822;
    border-bottom: 1px solid #ffb822;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    transition: color 0.5s ease; /* Smooth transition on hover */
}